@layout('prueba_layout')

@section('content')

			<h1 class="display-4">
					NUEVA TAREA
			</h1>

			<br>

			@if(old('notification'))
				<div class="alert alert-success">
					{{old('notification')}}
				</div>
			@endif

			<form method="post" action="tarea" enctype="multipart/form-data">
				{{ csrfField() }}

				<div class="form-group row">
					<div class="col-md-2"><label for="nombre">Nombre</label></div>
					<div class="col-md-10"><input type="text" name="nombre" class="form-control" 
						value="{{ old('nombre','') }}">
					{{elIf('<span class="text-danger">$self</span>', getErrorFor('nombre'), hasErrorFor('nombre'))}}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2"><label for="grupo">Grupo</label></div>
					<div class="col-md-10"><select class="form-control" name="grupo" id="grupo" selected="{{ old('grupo','') }}">
						@each(curso in cursos)
							<option value={{curso.codigo}}>
								{{curso.nombre}}
							</option>
						@endeach
					</select>
					{{elIf('<span class="text-danger">$self</span>', getErrorFor('grupo'), hasErrorFor('grupo'))}}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2"><label for="fecha_limite">Fecha limite</label></div>
					<div class="col-md-10"><input type="date" name="fecha" class="form-control" placeholder="dd/mm/aaaa" value="{{ old('fecha','') }}">
					{{elIf('<span class="text-danger">$self</span>', getErrorFor('fecha'), hasErrorFor('fecha'))}}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2"><label for="tema">Tema</label></div>
					<div class="col-md-10"><select class="form-control" name="tema" value="{{ old('tema','') }}">
						@each(tema in temas)
							<option value={{tema.codigo}}>
								{{tema.descripcion}}
							</option>
						@endeach
					</select>
					{{elIf('<span class="text-danger">$self</span>', getErrorFor('tema'), hasErrorFor('tema'))}}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2"><label for="logros">Logros</label></div>
					<div class="col-md-10"><textarea class="form-control" name="logros" rows="4" placeholder="ESCRIBIR LOGROS AQUÍ" value="{{ old('logros','') }}">
					</textarea>
					{{elIf('<span class="text-danger">$self</span>', getErrorFor('logros'), hasErrorFor('logros'))}}</div>
			  	</div>
			  	<div class="form-group row">
					<div class="col-md-3"><label for="subir_archivo">Subir archivo</label></div>
					<div class="col-md-9"><input type="file" class="form-control-file" name="archivo"></div>
				</div>
				<div class="form-group row">
					<div class="col-md-12">
						<textarea class="form-control" name="descripcion" rows="6" placeholder="{{ old('descripcion','') }}" value="{{ old('descripcion','') }}">
						</textarea>
						{{elIf('<span class="text-danger">$self</span>', getErrorFor('descripcion'), hasErrorFor('descripcion'))}}
					</div>
				</div>
				<div class="form-group row">
				    <div class="col-md-12">
				      <button type="submit" class="btn btn-outline-secondary btn-lg btn-block" name="tipo"  value="borrador">Guardar</button>
				    </div>
			  	</div>
			  	<div class="form-group row">
			    	<div class="col-md-12">
			      		<button type="submit" class="btn btn-primary btn-lg btn-block" name="tipo"  value="publicada">Publicar</button>
			    	</div>
			  	</div>

			</form>

		</div>
		

@endsection