<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COLEGIO ESPERANZA</title>
	{{ css('css/bootstrap') }}
	{{ css('css/mis_estilos') }}	
	{{ script('js/jquery') }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	{{ script('js/bootstrap') }}
	{{ script('js/index') }}

</head>
<body>

	@include('prueba_navbar')

	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			@!section('content')
		</div>
	</div>
	
</body>

</html>