@layout('prueba_layout')

@section('content')


		<br>
		<h1>SELECCIONAR ESTUDIANTE</h1>
		<br>
		<ul class="list-group">
		@each(hijo in hijos)
			<li class="list-group-item"><a href="/consultar/tareas/{{hijo.documento}}">{{hijo.apellido }}  {{ hijo.nombre}} - {{ hijo.documento }}</a></li>
		@endeach
		</ul>

	
	
@endsection